<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaofu.system.mapper.uniform.UniformShipmentOrderMapper">

    <resultMap id="UniformShipmentOrderResult" type="com.xiaofu.system.domain.uniform.UniformShipmentOrder">
        <id property="shipmentId" column="shipment_id"/>
        <result property="shipmentNo" column="shipment_no"/>
        <result property="workOrderId" column="work_order_id"/>
        <result property="workOrderNo" column="work_order_no"/>
        <result property="styleName" column="style_name"/>
        <result property="schoolName" column="school_name"/>
        <result property="campusName" column="campus_name"/>
        <result property="gradeName" column="grade_name"/>
        <result property="className" column="class_name"/>
        <result property="totalQuantity" column="total_quantity"/>
        <result property="packedQuantity" column="packed_quantity"/>
        <result property="shipmentStatus" column="shipment_status"/>
        <result property="logisticsCompany" column="logistics_company"/>
        <result property="logisticsNo" column="logistics_no"/>
        <result property="dispatchTime" column="dispatch_time"/>
        <result property="signTime" column="sign_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectShipmentOrderVo">
        select
            s.shipment_id,
            s.shipment_no,
            s.work_order_id,
            w.work_order_no,
            st.style_name,
            s.school_name,
            s.campus_name,
            s.grade_name,
            s.class_name,
            s.total_quantity,
            s.packed_quantity,
            s.shipment_status,
            s.logistics_company,
            s.logistics_no,
            s.dispatch_time,
            s.sign_time,
            s.create_by,
            s.create_time,
            s.update_by,
            s.update_time,
            s.remark
        from xf_shipment_order s
        left join xf_work_order w on s.work_order_id = w.work_order_id
        left join xf_uniform_style st on w.style_id = st.style_id
    </sql>

    <select id="selectShipmentOrderById" parameterType="Long" resultMap="UniformShipmentOrderResult">
        <include refid="selectShipmentOrderVo"/>
        where s.shipment_id = #{shipmentId}
    </select>

    <select id="selectShipmentOrderList" parameterType="com.xiaofu.system.domain.uniform.UniformShipmentOrder" resultMap="UniformShipmentOrderResult">
        <include refid="selectShipmentOrderVo"/>
        <where>
            <if test="shipmentNo != null and shipmentNo != ''">
                and s.shipment_no like concat('%', #{shipmentNo}, '%')
            </if>
            <if test="workOrderNo != null and workOrderNo != ''">
                and w.work_order_no like concat('%', #{workOrderNo}, '%')
            </if>
            <if test="schoolName != null and schoolName != ''">
                and s.school_name like concat('%', #{schoolName}, '%')
            </if>
            <if test="className != null and className != ''">
                and s.class_name like concat('%', #{className}, '%')
            </if>
            <if test="shipmentStatus != null and shipmentStatus != ''">
                and s.shipment_status = #{shipmentStatus}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                and date_format(s.create_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                and date_format(s.create_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
            </if>
        </where>
        order by s.create_time desc, s.shipment_id desc
    </select>

    <select id="checkShipmentNoUnique" parameterType="String" resultMap="UniformShipmentOrderResult">
        <include refid="selectShipmentOrderVo"/>
        where s.shipment_no = #{shipmentNo}
        limit 1
    </select>

    <insert id="insertShipmentOrder" parameterType="com.xiaofu.system.domain.uniform.UniformShipmentOrder" useGeneratedKeys="true" keyProperty="shipmentId">
        insert into xf_shipment_order(
            shipment_no,
            work_order_id,
            school_name,
            campus_name,
            grade_name,
            class_name,
            total_quantity,
            packed_quantity,
            shipment_status,
            logistics_company,
            logistics_no,
            dispatch_time,
            sign_time,
            remark,
            create_by,
            create_time
        ) values (
            #{shipmentNo},
            #{workOrderId},
            #{schoolName},
            #{campusName},
            #{gradeName},
            #{className},
            #{totalQuantity},
            #{packedQuantity},
            #{shipmentStatus},
            #{logisticsCompany},
            #{logisticsNo},
            #{dispatchTime},
            #{signTime},
            #{remark},
            #{createBy},
            sysdate()
        )
    </insert>

    <update id="updateShipmentOrder" parameterType="com.xiaofu.system.domain.uniform.UniformShipmentOrder">
        update xf_shipment_order
        <set>
            shipment_no = #{shipmentNo},
            work_order_id = #{workOrderId},
            school_name = #{schoolName},
            campus_name = #{campusName},
            grade_name = #{gradeName},
            class_name = #{className},
            logistics_company = #{logisticsCompany},
            logistics_no = #{logisticsNo},
            dispatch_time = #{dispatchTime},
            sign_time = #{signTime},
            remark = #{remark},
            update_by = #{updateBy},
            update_time = sysdate()
        </set>
        where shipment_id = #{shipmentId}
    </update>

    <update id="updateShipmentFlowFields">
        update xf_shipment_order
        set
            total_quantity = #{totalQuantity},
            packed_quantity = #{packedQuantity},
            shipment_status = #{shipmentStatus},
            update_time = sysdate()
        where shipment_id = #{shipmentId}
    </update>

    <delete id="deleteShipmentOrderByIds" parameterType="Long">
        delete from xf_shipment_order where shipment_id in
        <foreach collection="array" item="shipmentId" open="(" separator="," close=")">
            #{shipmentId}
        </foreach>
    </delete>

</mapper>
